<div class="flex gap-6 justify-center">
  @for (product of products(); track product.id) {
      <div class="card w-full bg-base-100 shadow-xl">
          <figure><img [src]="product.image" [alt]="product.name" /></figure>
          <div class="card-body">
              <div class="flex justify-between">
                <h2 [style.color]="settingsService.color()" class="card-title">{{product.name}}</h2>
                <div class="card-title">€ {{product.cost}}</div>
              </div>
              <p>{{product.description}}</p>
              <div class="card-actions justify-end">
                  <button 
                    [disabled]="!settingsService.isShopEnabled()"
                    class="btn btn-primary" 
                    (click)="cartService.addToCart(product)"
                  >
                      Add to Cart
                  </button>
              </div>
          </div>
      </div>
  }
</div>